.home-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  }
/*.home-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  
  justify-content: flex-end;
  color: white;
  align-items: center;
  height: 50px;
  background: #191919;
  padding: 0px;
  flex: none;
  }
.home-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  
  justify-content: center;
  align-items: center;
  height: 0px;
  background: #F5F5F5;
  padding: 0px;
  flex: none;
  }
.home-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  
  flex-direction: row;
  flex-flow: row wrap;
  flex: none;
  }
.home-main {
  flex: none;
  order: 2;
  padding: 0.5em;
  text-align: center;
  justify-content: center;
  }
.home-left-column {
  flex: none;
  order: 1;
  background: white;
  }
.home-right-column {
  flex: none;
  order: 3;
  background: white;
  }
.home-main, .home-left-column, .home-right-column {
  padding: 0.75em;
  overflow-x: hidden;
  }
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
  background: white;
  color: black;
  padding: 0px;
  margin: 0px;
  }
* {
  font-family: 'Roboto', sans-serif;
  }
h1, h2 {
  margin: 0 0 1em 0;
  }
h1 {
  font: Roboto;
  font-size: 1em;
  }
h2 {
  font: Roboto;
  font-size: 1em;
  }
p {
  font: Roboto;
  font-size: 1em;
  line-height: 200%;
  color: #4d4d4d;
  margin: 0 0 1em 0;
  padding: 5px;
  }
ul {
  style="list-style-type:none";
  }
a {
  color: black;
  font-size: 1em;
  }
a:link {
  text-decoration: none;
  }
img {
  min-width: 200px;
  max-width: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  align: left;
  }
